<h5>How to Sell Your for Up to 18% More Money</h5>
<iframe width="370" height="213" src="https://www.youtube.com/embed/wlL3ppmcGkA" frameborder="0" allowfullscreen></iframe>

<br>

<h5>How to Buy Your Dream Home at a Great Price</h5>
<iframe width="370" height="213" src="https://www.youtube.com/embed/jtC6bnb05xI" frameborder="0" allowfullscreen></iframe>

<br>

<h5>Why Hire Brett Jennings Real Estate Experts?</h5>
<iframe width="370" height="213" src="https://www.youtube.com/embed/JZeAVg1Lkp8" frameborder="0" allowfullscreen></iframe>

<br>

<h5>Brett Jennings on Luxury Real Estate</h5>
<iframe width="370" height="208" src="//www.youtube.com/embed/rKd9XBQE7xY" frameborder="0" allowfullscreen></iframe>

<br>

<h5>5 Mistakes Homeowners Make When Selling</h5>
	<img src="/img/thenewrise.png" width="370" height="208" />
<p>Brett's Bestseller, The New Rise In Real Estate, features Brett’s insights and wisdom for buying and selling in the new real estate economy.</p>

<p>In Chapter 45 he outlines 5 Fatal Mistakes Homeowners Make When selling their homes and how you can avoid these costly pitfalls. Download a free copy of the Chapter below.</p>
<a href="http://www.thebrettjenningsteam.com/new-rise-free-chapter/" target="_blank"><img src="https://s3.amazonaws.com/vyralmarketing/Brett+Jennings/download.jpg" style="width:240px;" /></a>

<br>

<h5>SPECIAL REPORT: 7 Factors You Must Know  to Sell for 18% More</h5>
	<img src="/img/homesellersreport.png" width=="370" height="208" />
<p>The details inside this controversial report reveal a proven, repeatable process to sell your home for up to 18% MORE than the methods used by traditional real estate agents along with how to avoid the single most common mistake that costs the average homeowner up to $71,210.  Download a free copy of the Chapter below.</p>

<a href="http://www.thebrettjenningsteam.com/sell-for-18-percent-more/" target="_blank"><img src="https://s3.amazonaws.com/vyralmarketing/Brett+Jennings/download.jpg" style="width:240px;" /></a>
